<h1>Create a new Seller</h1>

<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %> 
  <% end %>

<%= form_with scope: :seller, url: seller_objects_path, local: true do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%=f.label :store_id%>
    <%= f.collection_select(:store_id , Store.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
