
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    </li>
    <% elsif not user_signed_in? and not seller_signed_in? and not buyer_signed_in? %>
    <li>
    <%= link_to('Login as Admin', new_user_session_path)  %>  
   </li>
  <% end %>

<% if seller_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_seller_session_path, method: :delete)  %>
  </li>
  <% elsif not user_signed_in? and not seller_signed_in? and not buyer_signed_in? %>
    <li>
  <%= link_to('Login as Seller', new_seller_session_path)  %>        
    </li>
<% end %>

<% if buyer_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_buyer_session_path, method: :delete)  %>
  </li>
  <li>
    <%= link_to('go to Cart', cart_index_path)  %>
  </li>
  <% elsif not user_signed_in? and not buyer_signed_in? and not seller_signed_in? %>
    <li>
  <%= link_to('Login as buyer', new_buyer_session_path)  %>        
    </li>
<% end %>