<h1>Welcome to your cart</h1>
</div class="col-xs-6 col-xs-offset-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th  scope="col">Title</th>
      <th  scope="col">Price</th>
      <th  scope="col">quantity</th>
      <th colspan="3">total</th>

    </tr>
  </thead>

  <tbody>
    <% @arr.each do |cart| %>
      <tr>
        <td scope="row"><%= cart[:title] %></td>
        <td scope="row"><%= cart[:price] %></td>
        <td scope="row"><%= cart[:quantity] %></td>
        <td scope="row"><%= cart[:total] %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h1>Overall Total:</h1>
    <h4><%= @overall%></h4>
</div>

<%= link_to 'back', products_path %>