<h1> Advanced Search  </h1>
<%= form_for @search , html: {class: "pure-form"} do |s|%>
    <div class="field">
        <%= s.label :title %><br/>
        <%= s.text_field :title %>
    </div>
    <div class="field">
        <%= s.label :category %> <br/>
        <%= s.select :category , options_for_select(@categories)%>
    </div>
     <div class="field">
        <%= s.label :description %>
        <%= s.text_area :description %>
    </div>
    <div class="field">
        <p>
         <%= s.label :min_price, "Min Price" %>-<%= s.text_field :min_price , size: 5000%> 
         <%= s.label :min_price , "Max Price" %>-<%= s.text_field :max_price , size: 5000 %> 
        </p>
    </div>
    <div class="field">
        <%= s.label :brand %> <br/>
        <%= s.select :brand , options_for_select(@brands)%>
    </div>
    <div class="field">
        <%= s.label :store %> <br/>
        <%= s.select :store , options_for_select(@stores)%>
    </div>
    <div class="actions">
     <%= s.submit "Search", class: "pure-button pure-button-primary"%> 
    </div>
    <% end %>