<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <%= form_tag products_path, :method => 'get' do %>
  <%= text_field_tag :search , params[:search] ,placeholder:"Enter Title"%>
  <%= submit_tag "search" %>
  <% end %>
  </div>
  <div>
     <%= link_to "Advanced Search" , new_search_path %>
  </div>
  <div>
    <% if can? :manage, Product%>
<%= link_to 'New Product', new_product_path %>
<% end %>
  </div>
</nav>
<h1>Products</h1>
</div class="col-xs-6 col-xs-offset-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th  scope="col">Title</th>
      <th  scope="col"> Image  </th>
      <th  scope="col">Description</th>
      <th  scope="col">Price</th>
      <th  scope="col">stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td scope="row"><%= product.title %></td>
        <td scope="row"><%= image_tag(product.image,:size=>"100x50",:class =>"thumbnail")if product.image.attached? %> </td>
        <td scope="row"><%= product.description %></td>
        <td scope="row"><%= product.price %></td>
        <td scope="row"><%= product.in_stock_quantity %></td>
        
        <td scope="row"><%= link_to 'Show', product %></td>
        <% if can? :manage, Product%>
        <td scope="row"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td scope="row"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if not can? :manage, Product and not user_signed_in? %>
        <td scope="row"><%= link_to 'add to cart',   buyers_buyer_add_to_cart_path(id: product), method: :post %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

